@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/009/948/834/non_2x/aesthetic-minimal-green-frame-background-illustration-perfect-for-wallpaper-backdrop-postcard-background-vector.jpg");
    background-repeat: repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 3%;
}

/*ESTILO DO DEPOIMENTO CARDS*/
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px;
}

.card {
    background-color: #bff27279;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px #00000048;
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3 {
    font-family: "Rubik" , sans-serif;
    margin-bottom: 5px;
}

.star {
    width: 20px;
}

.stars {
    font-size: medium;
    text-align: center; 
}

.card p {
    font-size: larger;
    font-family: "Rubik" , sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    width: 100% auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #bff272;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */
header {
    padding: 0px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ESTILO DAS LETRAS DO CABEÇALHO*/
header a {
    font-size: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #bff272;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO PARA DISPOSITIVOS MAIORES*/
@media (min-width: 768px) {
    header>.interface {
        padding: 40px;
    }

    header>.interface img {
        height: 70px;
    }
}

/*ESTILO PARA DISPOSITIVOS MENORES*/
@media (max-width: 767px) {
    header>.interface {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    header>.interface img {
        height: 50px;
    }
}