/* ESTILO GERAL */
body {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/17095071-multi-camadas-textura-verde-3d-papercut-camadas-no-banner-gradienteial-design-de-fundo-de-arte-de-corte-de-papel-abstrato-para-modelo-de-site-conceito-de-mapa-de-topografia-ou-corte-de-papel-de-origami-suave-vetor.jpg);
    background-color: #FCFCF0;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    width: 200px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #BFF272;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */
header {
    background-image: url("https://img.freepik.com/fotos-premium/um-fundo-preto-com-uma-imagem-branca-de-um-texto-que-diz-quot-nao-quot_994023-80003.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-size: 1.5rem;
    font-size: 0.875rem;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*Estilos para dispositivos maiores*/
@media (min-width: 768px) {
    header>.interface {
        padding: 40px;
    }

    header>.interface img {
        height: 70px;
    }
}

/*Estilos para dispositivos menores*/
@media (max-width: 767px) {
    header>.interface {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    header>.interface img {
        height: 50px;
    }
}